/* Палитра цветов:
основной цвет текста #303030
цвет акцента #FF6C00
основной белый цвет  #FFFFFF
серый цвет #9DA4BD
цвет абзацев  #555555
дополнительный цвет  rgba(157, 164, 189, 0.6)
bacground-color:
#F7F7F7  barbers section
#191C26 footer color
 */
:root {
  --primary-head-color: #303030;
  --accent-color: #ff6c00;
  --primary-white-color: #fff;
  --primary-grey-color: #9da4bd;
  --paragraph-color: #555555;
  --secondary-color: rgba(157, 164, 189, 0.6);
}
body {
  color: var(--primary-head-color);
  background-color: var(--primary-white-color);

  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
}
.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
}
.container {
  width: 1170px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid red;
}

/* Хедер */
.back {
  background-color: #191c26;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  background-color: #000;
}

.header-item {
  color: var(--primary-white-color);

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.header-link {
  color: var(--primary-white-color);
  background-color: #000;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header-item:hover,
.header-item:focus,
.header-link:hover,
.header-link:focus,
.header-btn:hover,
.header-btn:focus {
  color: var(--accent-color);
}

.logo {
  margin-right: 70px;
}

.header-item:not(:last-child) {
  margin-right: 30px;
}

.light-btn {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 20px;
  margin-left: 40px;

  color: var(--primary-white-color);
  background-color: #191c26;

  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

.contacts {
  margin-left: auto;
}

/* Sidebar */
.side-direction {
  background-color: #fff;
  padding: 360px 50px 140px 78px;
}
.hero-block {
  display: flex;
}

.hero-list {
  display: flex;
  transform: rotate(270deg);
}

.hero-item:first-child {
  margin-right: 40px;
}
/* Герой */
.main {
  padding: 206px 96px;
}

.hero {
  background-color: #191c26;
}
.hero-link {
  color: var(--primary-head-color);

  font-weight: 600;
  letter-spacing: 0.2em;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-pre-title {
  margin-bottom: 20px;

  color: var(--secondary-color);

  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.hero-title {
  margin-bottom: 20px;

  color: var(--primary-white-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}

.hero-after-title {
  margin-bottom: 20px;

  color: var(--primary-grey-color);

  font-size: 18px;
  line-height: 1.67;
}

/* О нас */
.about {
  padding-top: 139px;
  padding-bottom: 121px;
}

.about-primary {
  display: flex;
}
.about-list {
  display: flex;
}
.about-item + .about-item {
  margin-left: 30px;
}

.about-main {
  margin-left: 64px;
}

.about-pre-title {
  margin-bottom: 20px;

  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.about-title {
  margin-bottom: 20px;
}

.about-after-title {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 1.66;
}

.about-text {
  margin-bottom: 40px;

  color: var(--paragraph-color);

  font-size: 14px;
  line-height: 1.86;
}

.dark-btn {
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 20px;

  color: var(--primary-head-color);
  background-color: transparent;

  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

/* Услуги и цены */
.prices {
  background-color: #191c26;
  padding: 130px 0;
}

.prices-lists {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.prices-list-first,
.prices-list-second {
  padding: 30px 40px;
  outline: 1px solid red;
}

.prices-item {
  display: flex;
  justify-content: space-between;
}

.prices-pre-title {
  margin-bottom: 20px;

  color: var(--secondary-color);

  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.prices-title {
  margin-bottom: 44px;

  color: var(--primary-white-color);
}

.prices-services {
  color: var(--primary-grey-color);

  font-size: 18px;
  line-height: 1.66;
}

.prices-cost {
  color: var(--primary-grey-color);

  font-size: 18px;
  line-height: 1.66;
  text-align: right;
}

.centered {
  margin-left: 500px;
}

/* Наши достижения */

.recommendations {
  padding: 121px 0 130px 0;
}
.recom {
  display: flex;
  align-items: center;
}

.recom-list {
  margin-right: 130px;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.recommendations-item {
  width: 170px;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 20px 24px;
  outline: 2px solid red;
  text-align: center;
}

.recommendations-item:nth-child(2n) {
  margin-top: 35px;
}

.recommendations-number {
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  letter-spacing: 0.05em;
}

.recommendations-reason {
  font-weight: 600;
  text-align: center;
}

.recommendations-pre-title {
  margin-bottom: 20px;

  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.recommendations-title {
  margin-bottom: 20px;
}

.recommendations-after-title {
  color: var(--paragraph-color);

  font-size: 18px;
  line-height: 1.67;
}

/* Мастера */

.masters-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.masters-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.masters-pre-title {
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.masters-name {
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
}

.masters-degree {
  color: var(--accent-color);

  font-size: 14px;
  text-align: center;
}

/* Наши работы */

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.works-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}

.works-after-title {
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Футер */
.footer {
  background-color: #191c26;
}
.footer-contacts {
  color: var(--primary-white-color);
}
.info {
  color: var(--primary-grey-color);

  font-size: 18px;
  line-height: 1.67;
}

.footer-address {
  font-style: normal;
}

.footer-link-mail {
  text-decoration-line: underline;
}

.footer-shedule {
  color: var(--primary-white-color);

  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
