/* Наши работы */

.works {
  padding: 130px 0;
}

.works-list {
  display: flex;
  margin-right: -30px;
}

.works-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
}

.works-after-title {
  margin-bottom: 44px;
}

/* Форма с контактами */

.contacts-bottom {
  padding: 130px 0;
  background-color: #191c26;
  background-image: url(../images/contacts.png);
  background-position: right;
  background-size: 50%;
  background-repeat: no-repeat;
  max-width: 1280px;
  margin: 0 auto;
}

.contacts-container {
  display: flex;
}

.contacts-form {
  flex-grow: 1;
}

.contacts-value {
  width: calc(50% - 15px);
  padding-left: 100px;
}

.contacts-form-title {
  margin-bottom: 40px;

  color: var(--primary-white-color);
}

.contacts-bottom-title {
  margin-bottom: 40px;

  color: var(--primary-white-color);
}

.info {
  color: var(--primary-grey-color);

  font-size: 18px;
  line-height: 1.67;
}

.bottom-list {
  max-width: 270px;
}

.bottom-address {
  margin-bottom: 20px;

  font-style: normal;
}

.bottom-link {
  display: inline-block;
  margin-bottom: 20px;
}

.bottom-link-mail {
  display: inline-block;
  margin-bottom: 70px;

  text-decoration-line: underline;
}

.bottom-shedule {
  margin-bottom: 20px;

  color: var(--primary-white-color);

  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/*Футер  */

.footer-section {
  padding: 55px 0;

  background: #f7f7f7;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
}
