body {
  background-color: var(--primary-white-color);

  font-family: 'Open Sans', sans-serif;
  @include font(null, 11px, 1.36, 0.02em);

  color: var(--primary-head-color);
}

.title {
  font-family: 'Raleway', sans-serif;

  @include font(700, 42px, 1.16, 0.05em);
}

.container {
  max-width: 480px;
  padding: 0 15px;

  @include min768 {
    max-width: 720px;
  }

  @include min1200 {
    max-width: 1200px;
  }

  margin-left: auto;
  margin-right: auto;
}

.pre-title {
  @include flex(flex, center, null);

  margin-bottom: 20px;

  @include font(600, null, null, 0.1em);

  text-transform: uppercase;
}

.pre-title::before {
  content: '';
  height: 1px;
  width: 63px;
  margin-right: 21px;

  background-color: currentColor;
}
