// Кнопки

.button {
  min-width: 160px;
  min-height: 40px;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 12px 20px;

  font-family: 'Open Sans', sans-serif;
  @include font(600, 12px, 1.33, 0.09em);
  text-transform: uppercase;
  cursor: pointer;
}

.dark-btn {
  color: var(--primary-head-color);
  background-color: transparent;

  transition: color $cubic, background-color $cubic;

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
  }
}

.light-btn {
  margin-left: 40px;

  color: var(--primary-white-color);
  background-color: transparent;
  transition: background-color $cubic;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
