/* Форма с контактами */

.contacts-bottom {
  padding: 130px 0;
  background-color: #191c26;
  background-image: url(../images/contacts.png);
  background-position: right;
  background-size: calc(50% - 15px);
  background-repeat: no-repeat;
  max-width: 1280px;
  margin: 0 auto;
}

.contacts-container {
  display: flex;
}

.contacts-form {
  width: calc((100% - 40px) / 2);
}

.contacts-form .button {
  margin-left: 0;
}

.form-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 44px;
}

.form-box__cont {
  width: calc((100% - 30px) / 2);
  position: relative;
  display: block;
  font-size: 18px;
}

.form-box__name {
  position: absolute;
  top: 0;
  left: 0;

  @include font(600, 11px, 1.36, 0.1em);
  text-transform: uppercase;
  cursor: text;
  color: var(--paragraph-color);
  transition: color 250ms linear, transform 250ms linear;

  .form-box__text:focus + &,
  .form-box__text:not(:placeholder-shown) + & {
    color: var(--primary-white-color);
    transform: translateY(-100%);
  }
}

.form-box__text {
  width: 100%;
  height: 24px;

  background-color: transparent;
  border: none;
  color: var(--primary-white-color);
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;

  transition: border-color 250ms linear;

  &:focus {
    border-color: var(--primary-white-color);
  }
}

.form-wrap-cont {
  display: block;
  width: 100%;
  margin-bottom: 44px;
}

.form-wrap__message {
  height: 76px;
  resize: none;
}

.contacts-value {
  width: calc((100% - 40px) / 2);
  padding-left: 100px;
}

.contacts-form__title {
  margin-bottom: 40px;

  color: var(--primary-white-color);
}

.contacts-bottom-title {
  margin-bottom: 40px;

  color: var(--primary-white-color);
}

.info {
  color: var(--primary-grey-color);

  font-size: 18px;
  line-height: 1.67;
}

.bottom-list {
  max-width: 270px;
}

.bottom-address {
  margin-bottom: 20px;

  font-style: normal;
}

.bottom-link {
  display: inline-block;
  margin-bottom: 20px;
}

.bottom-link-mail {
  display: inline-block;
  margin-bottom: 70px;

  text-decoration-line: underline;
}

.bottom-shedule {
  @include flex(flex, center, null);
  margin-bottom: 20px;

  color: var(--primary-white-color);

  @include font(600, 11px, null, 0.1em);
  text-transform: uppercase;

  &::before {
    content: '';
    margin-right: 20px;
    height: 1px;
    width: 60px;
    background: rgba(157, 164, 189, 0.4);
  }
}

.adress {
  display: flex;
}
