//Футер

.footer-section {
  padding: 55px 0;

  background: #f7f7f7;
}

.footer-container {
  @include flex(flex, null, space-between);
}

.footer-list {
  @include flex(flex, center, null);

  &::before {
    content: '';
    width: 60px;
    height: 1px;
    background-color: var(--primary-head-color);
    margin-right: 40px;
  }
}

.footer-container__copy {
  @include font(600, 11px, 1.36, 0.2em);
  color: var(--primary-grey-color);
}
