// Хедер
.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 32px 0;
  z-index: 10;

  @include min768 {
    padding-top: 34px;
  }

  &-container {
    @include flex(flex, center, space-between);

    @include min768-max1199 {
      align-items: flex-start;
    }
  }

  &-container-nav {
    @include min768 {
      margin-left: 69px;
    }

    @include min768-max1199 {
      padding-top: 9px;
    }
  }

  &-list {
    @include flex(flex, null, null);
  }
}

// .back {
//   background-color: #191c26;
// }

.header-list__item {
  &:not(:last-child) {
    @include min768 {
      margin-right: 24px;
    }

    @include min1200 {
      margin-right: 40px;
    }
  }
}

.header-list__link {
  position: relative;
  color: var(--primary-white-color);

  @include font(600, 12px, 1.33, 0.1em);

  transition: color $cubic;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &::after {
    content: '';
    width: 100%;
    height: 5px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    bottom: -30px;
    background-color: var(--accent-color);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform $cubic;
  }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}

.header-link {
  color: var(--primary-white-color);
  padding: 10px 0;
  @include font(600, 12px, 1.33, 0.1em);

  text-transform: uppercase;
  transition: color $cubic;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @include min768-max1199 {
    margin-top: 10px;
  }
}

.logo {
  @include max767 {
    display: none;
  }
}

.logo-mob {
  @include min768 {
    display: none;
  }
}
.contacts {
  display: flex;
  align-items: center;

  margin-left: auto;

  @include max767 {
    display: none;
  }

  @include min768-max1199 {
    flex-direction: column-reverse;
    padding-top: 6px;
  }
}

.header-container-nav {
  @include max767 {
    display: none;
  }
}
