// Sidebar

.hero {
  &-block {
    @include flex(flex, null, null);
  }

  &-sidebar {
    display: none;

    @include min768 {
      @include flex(flex, flex-end, null);
      width: 113px;

      padding-bottom: 40px;
    }
    @include min1200 {
      width: 97px;
    }
  }
  &-block__list {
    @include flex(flex, center, null);
    padding-top: 23px;

    transform: rotate(-90deg) translateX(-15px);
    transform-origin: top left;
  }

  &-list__item:first-child {
    margin-right: 40px;
  }
}

.hero-block__list::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: var(--primary-head-color);
  margin-right: 40px;
}

.hero-list__link {
  color: var(--primary-head-color);

  @include font(600, null, null, 0.2em);
  transition: color $cubic;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

// Герой
.hero-main {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  min-height: 580px;
  padding-top: 25px;

  @include min768 {
    padding-top: 46px;
    min-height: 680px;
  }

  @include min1200 {
    padding-top: 66px;
  }

  &__pre-title {
    color: var(--secondary-color);
  }

  &__title {
    margin-bottom: 20px;

    color: var(--primary-white-color);

    font-family: 'Raleway', sans-serif;

    @include font(700, 48px, 1.16, 0.05em);

    @include min1200 {
      @include font(700, 72px, 1.18, 0.05em);
    }
  }

  &__after-title {
    max-width: 400px;

    color: var(--primary-grey-color);

    @include font(null, 16px, 1.62, null);

    @include min1200 {
      @include font(null, 18px, 1.67, null);
    }
  }
}

.hero-content {
  position: relative;
  z-index: 3;
  display: inline-block;
  padding-left: 31px;

  @include min768 {
    padding-left: 70px;
  }

  @include min1200 {
    padding-left: 94px;
  }
}
