// Наши мастера

.masters {
  padding: 130px 0;

  background: #f7f7f7;

  &-list {
    display: flex;
    margin-right: -30px;
  }

  &-list__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-right: 30px;
  }

  &__title {
    margin-bottom: 44px;
  }

  &-descript {
    padding-top: 30px;
  }

  &-descript__name {
    margin-bottom: 8px;

    font-size: 18px;
    line-height: 1.38;
    text-align: center;
  }

  &-descript__degree {
    margin-bottom: 30px;

    color: var(--accent-color);

    font-size: 14px;
    text-align: center;
  }
}

.masters-social-list {
  @include flex(flex, center, center);
}

.masters-social__link {
  width: 44px;
  height: 44px;
  background-color: var(--primary-white-color);

  @include flex(flex, center, center);

  color: var(--primary-head-color);

  border-radius: 50%;
  transition: color $cubic;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.masters-social__item + .masters-social__item {
  margin-left: 10px;
}

.masters-social__icon {
  fill: currentColor;
  background-size: contain;
  background-position: center;
}
