// Услуги и цены
.prices {
  background-color: #111319;
  background-image: url(../images/prices-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 130px 0;
  max-width: 1280px;
  margin: 0 auto;

  &-lists {
    @include flex(flex, null, center);
    margin-bottom: 50px;
  }

  &__pre-title {
    color: var(--secondary-color);
  }

  &__title {
    margin-bottom: 44px;

    color: var(--primary-white-color);
  }
}

.prices-list-light,
.prices-list-dark {
  width: 50%;
  padding: 30px 40px;
}

.prices-list-light {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list-dark {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.prices-list__item {
  @include flex(flex, null, space-between);

  margin-bottom: 20px;
  align-items: baseline;

  &::before {
    content: '';
    height: 1px;
    flex-grow: 1;
    background: rgba(157, 164, 189, 0.12);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.prices-list__services {
  order: -1;
  color: var(--primary-grey-color);
  @include font(null, 18px, 1.66, null);
}

.prices-list__cost {
  color: var(--primary-grey-color);

  @include font(null, 18px, 1.66, null);

  text-align: right;
}

.centered {
  display: block;
  margin: 0 auto;
}
