// Наши достижения

.recommendations {
  padding: 121px 0 130px 0;

  &-wrap {
    display: flex;
  }

  &-wrap__side,
  &-text {
    width: calc(50% - 30px);
  }

  &-wrap__side {
    display: flex;
    justify-content: center;
  }
}

.recommendations-list {
  width: 370px;
  @include flex(flex, null, null);

  flex-wrap: wrap;

  &__item {
    width: 170px;
    height: 133px;

    padding: 20px 24px;
    background: #f7f7f7;
    text-align: center;
  }
}

.recommendations-list__item:nth-child(2n) {
  margin-top: 35px;
  margin-left: 30px;
}

.recommendations-list__number {
  @include flex(flex, flex-start, center);

  @include font(700, 42px, null, 0.05em);

  text-align: center;

  &::after {
    content: '+';
    color: var(--accent-color);
    position: relative;
    top: 7px;
    margin-left: 2px;
    @include font(600, 16px, 1.375, null);

    vertical-align: top;
  }
}

.recommendations-list__reason {
  font-weight: 600;
  text-align: center;
}

.recommendations-text__title {
  margin-bottom: 20px;
}

.recommendations-text__after-title {
  color: var(--paragraph-color);

  @include font(null, 18px, 1.67, null);
}
