// Наши достижения

.recommendations {
  padding: 84px 0;

  @include min768 {
    padding: 100px 0;
  }

  @include min1200 {
    padding: 121px 0 130px 0;
  }

  &-wrap {
    display: flex;
    @include max1199 {
      flex-direction: column-reverse;
    }

    @include min1200 {
      justify-content: flex-end;
      padding-left: 115px;
    }
  }

  &-wrap__side,
  &-text {
    @include min1200 {
      width: calc(50% - 30px);
    }
  }

  // &-wrap__side {
  //   display: flex;
  //   justify-content: center;
  // }
}

.recommendations-list {
  @include min768-max1199 {
    margin-left: auto;
    width: 450px;
  }

  @include max1199 {
    margin-top: 44px;
  }
  @include flex(flex, flex-end, space-between);

  flex-wrap: wrap;

  @include min1200 {
    width: 370px;
    margin-left: 0;
    margin-top: -4px;
  }

  &__item {
    width: calc((100% - 30px) / 2);
    min-height: 133px;

    padding: 20px 24px;
    background: #f7f7f7;
    text-align: center;
  }
}

.recommendations-list__item:nth-child(2n + 1) {
  margin-top: -5px;
  margin-bottom: 30px;
}

.recommendations-list__number {
  @include flex(flex, flex-start, center);

  @include font(700, 42px, null, 0.05em);

  text-align: center;

  &::after {
    content: '+';
    color: var(--accent-color);
    position: relative;
    top: 7px;
    margin-left: 2px;
    @include font(600, 16px, 1.375, null);

    vertical-align: top;
  }
}

.recommendations-list__reason {
  font-weight: 600;
  text-align: center;
}

.recommendations-text {
  @include min768-max1199 {
    width: 500px;
  }

  @include min1200 {
    margin-left: 130px;
    width: 500px;
  }
}

.recommendations-text__title {
  margin-bottom: 20px;
}

.recommendations-text__after-title {
  color: var(--paragraph-color);

  @include font(null, 18px, 1.67, null);
}
