// Наши достижения

.recommendations {
  padding: 121px 0 130px 0;

  &-wrap {
    display: flex;
    align-items: center;
  }

  &-wrap__side {
    margin-right: 130px;
  }
}

.recommendations-list {
  @include flex(flex, null, flex-end);

  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;

  &__item {
    width: 170px;
    height: 133px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding: 20px 24px;
    background: #f7f7f7;
    text-align: center;
  }
}

.recommendations-list__item:nth-child(2n) {
  margin-top: 35px;
}

.recommendations-list__number {
  @include flex(flex, flex-start, center);

  @include font(700, 42px, null, 0.05em);

  text-align: center;

  &::after {
    content: '+';
    color: var(--accent-color);
    background-color: var(--accent-color);
    width: 13px;
    height: 22px;
    background-size: cover;
    background-position: center;
  }
}

.recommendations-list__reason {
  font-weight: 600;
  text-align: center;
}

.recommendations-text__title {
  margin-bottom: 20px;
}

.recommendations-text__after-title {
  color: var(--paragraph-color);

  @include font(null, 18px, 1.67, null);
}
