// Наши работы

.works {
  padding: 130px 0;

  &-list {
    display: flex;
    margin-right: -30px;
  }

  &-list__item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
  }

  &__after-title {
    margin-bottom: 44px;
  }
}
